.checkbox-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: rgba(26, 115, 232, 0.1);
  }
  .checkbox-item > span:first-child {
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    color:  #1A73E8;
  }
  
  input[type='checkbox']:checked ~ .checkbox-item > span {
    opacity: 1 !important;
  }