@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/bai-jamjuree";
@import "animate.css";

/* @font-face {
    font-family: "Bai Jamjuree";
    src: url(fonts/SanFranciscoText-Light.otf);
  } */

@font-face {
    font-family: Valky;
    src: url(../fonts/NVN_Valky/NVNValky-Light.ttf) format('truetype');
}

@font-face {
    font-family: Anek_Latin;
    src: url(../fonts/Anek_Latin/AnekLatin-Light.ttf) format('truetype');
}

.Anek_Latin {
    font-family: Anek_Latin;
}

.Valky {
    font-family: Valky;
}

:root {
    --primary-link: #4C1410;
    --primary: #85512B;
    --white: #FFFFFF;
    --text-primary: #85512B;
    --text-secondary: #636363;
    --text-gray: #B6A4A4;
    --white-color: #fff;
    --black-color: #000;
    --text-green: #05A84B;
    --bg-fillter: rgba(0, 0, 0, 0.5);
    --bg-hover: #f0f0f6;
    --bg-lightBlue: #E8EEF4;
}

@import "./common.css";
@import "./home.css";
@import "./cart.css";
@import "./about.css";
@import "./login.css";
@import "./swiper.css";
@import "./dashboard.css";
@import "./loadding.css";


body {
    font-family: "Bai Jamjuree";

   overflow-x: hidden;
}



pre {
    font-family: "Bai Jamjuree";
}



.btn-footer {
    position: relative;
}

.btn-footer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: block;
    border: 1px solid white;
}